@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9216%;
  --card: 30.0000 50.0000% 98.4314%;
  --card-foreground: 0 0% 3.9216%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9216%;
  --primary: 214.8837 62.3188% 13.5294%;
  --primary-foreground: 0 0% 100%;
  --secondary: 20.2597 33.0472% 54.3137%;
  --secondary-foreground: 0 0% 100%;
  --muted: 28.8889 52.9412% 90.0000%;
  --muted-foreground: 20.6897 24.3697% 23.3333%;
  --accent: 28.8889 52.9412% 90.0000%;
  --accent-foreground: 0 0% 3.9216%;
  --destructive: 20.2597 33.0472% 54.3137%;
  --destructive-foreground: 0 0% 100%;
  --border: 24.5070 45.2229% 69.2157%;
  --input: 28.8889 52.9412% 90.0000%;
  --ring: 214.8837 62.3188% 13.5294%;
  --chart-1: 214.8837 62.3188% 13.5294%;
  --chart-2: 20.2597 33.0472% 54.3137%;
  --chart-3: 24.5070 45.2229% 69.2157%;
  --chart-4: 28.8889 52.9412% 90.0000%;
  --chart-5: 0 0% 3.9216%;
  --sidebar: 30.0000 50.0000% 98.4314%;
  --sidebar-foreground: 0 0% 3.9216%;
  --sidebar-primary: 214.8837 62.3188% 13.5294%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 28.8889 52.9412% 90.0000%;
  --sidebar-accent-foreground: 0 0% 3.9216%;
  --sidebar-border: 24.5070 45.2229% 69.2157%;
  --sidebar-ring: 214.8837 62.3188% 13.5294%;
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-source-serif-4);
  --font-mono: var(--font-geist-mono);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 4px 6px -1px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 8px 10px -1px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.20);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: 0 0% 3.9216%;
  --foreground: 28.8889 52.9412% 90.0000%;
  --card: 20 23.0769% 5.0980%;
  --card-foreground: 28.8889 52.9412% 90.0000%;
  --popover: 0 0% 3.9216%;
  --popover-foreground: 28.8889 52.9412% 90.0000%;
  --primary: 28.8889 52.9412% 90.0000%;
  --primary-foreground: 0 0% 3.9216%;
  --secondary: 20.2597 33.0472% 54.3137%;
  --secondary-foreground: 0 0% 3.9216%;
  --muted: 20.6897 24.3697% 23.3333%;
  --muted-foreground: 24.5070 45.2229% 69.2157%;
  --accent: 20.6897 24.3697% 23.3333%;
  --accent-foreground: 28.8889 52.9412% 90.0000%;
  --destructive: 20.2597 33.0472% 54.3137%;
  --destructive-foreground: 0 0% 3.9216%;
  --border: 25 35% 17%;

   --input: 25 36% 25%;

  --ring: 28.8889 52.9412% 90.0000%;
  --chart-1: 214.8837 62.3188% 13.5294%;
  --chart-2: 20.2597 33.0472% 54.3137%;
  --chart-3: 24.5070 45.2229% 69.2157%;
  --chart-4: 28.8889 52.9412% 90.0000%;
  --chart-5: 0 0% 100%;
  --sidebar: 0 0% 3.9216%;
  --sidebar-foreground: 28.8889 52.9412% 90.0000%;
  --sidebar-primary: 28.8889 52.9412% 90.0000%;
  --sidebar-primary-foreground: 0 0% 3.9216%;
  --sidebar-accent: 20.6897 24.3697% 23.3333%;
  --sidebar-accent-foreground: 28.8889 52.9412% 90.0000%;
  --sidebar-border: 214.8837 62.3188% 13.5294%;
  --sidebar-ring: 28.8889 52.9412% 90.0000%;
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-source-serif-4);
  --font-mono: var(--font-geist-mono);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 4px 6px -1px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.08), 0px 8px 10px -1px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.20);
}
}

::selection {
  background-color: #B17E64;
  color: hsl(var(--foreground));
}

html, body {
  font-family: "Inter", sans-serif !important;
}

.dumy {
  color: #FFFFCA;
  color: rgb(38, 38, 38)
    /* @apply to-purple-500 */
}

::-webkit-scrollbar {
  width: 6px;
  scrollbar-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.gradient {
  background: conic-gradient(
  from 230.29deg at 51.63% 52.16%,
  #FFFFCA 0deg,     /* mlemon */
  #B17E64 67.5deg,  /* msecondary */
  #0D1F38 198.75deg,/* mprimary */
  #F3E5D8 251.25deg,/* maccent */
  #8D99AE 301.88deg,/* mmuted */
  #FFFFCA 360deg    /* mlemon again to loop */
);
}

.not-found {
  box-shadow: #B17E64 5px 5px;
}